@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.center {
    text-align: center;
}

.navbar {
    padding: 24px 48px;
}

.body_container {
    padding: 0px 48px;
}

.brand {
    font-size: 24px;
}

.link {
    margin-left: 24px;
    cursor: pointer;
    text-decoration: none;
}

.errorPage > p {
    font-size: 24px;
}
