@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.center {
    text-align: center;
}

.header {
    font-size: 24px;
}

.navbar {
    padding: 24px 48px;
}

.navbar > li {
    color: #4285f4;
}

.body_container {
    padding: 0px 48px;
}

.brand {
    font-size: 24px;
}

.link {
    margin-left: 32px;
    cursor: pointer;
    text-decoration: none;
}

.errorPage > p {
    font-size: 24px;
}

footer {
    border-top: 1px solid #1f2d38;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}
